/* font css */


* {
    margin: 0;
}

body {
    font-family: "Azeret Mono", monospace;
}

/* header css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    background-color: bisque;
    margin-bottom: 50px;
}

/* first part CSS */
.banner {
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

.banner-section {
    margin: 0 auto;
    display: flex;
    gap: 30px;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    width: 900px;
}

.banner-section>h1 {
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
}

.banner-button {
    background-color: rgb(33, 27, 13);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0%;
    border: 0;
    border-radius: 8px;
    padding: 17px 24px;
    letter-spacing: 3px;
    margin-bottom: 30px;
}

.banner-button > a {
    text-decoration: none;
    color: rgb(255, 255, 255);

}

/* second part CSS */
.second-section {
    margin: 0 auto;
    width: 1140px;
    margin-top: 50px;
    border-radius: 16px;
    background-color: rgba(13, 19, 33, 0.02);
}

.second-part {
    text-align: center;
    padding: 40px 50px;
    margin-bottom: 50px;
}

.second-part-heading>h3 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    margin-bottom: 15px;
}

.second-part-card {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-top: 48px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    padding: 48px;
}

.card-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
}

.card-image {
    height: 150px;
}

/* third part CSS */
.third-section {
    margin: 0 auto;
    width: 1140px;
    text-align: center;
}

.youtube-video {
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}

.video-link {
    width: 1076px;
    height: 550px;
    padding: 16px;
    border-radius: 30px;
}

/* fourth pard css */
.fourth-section {
    margin: 50px auto;
    width: 1140px;
    text-align: center;
}

.fourth-part-card {
    display: flex;
    gap: 16px;
    margin-top: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    gap: 16px;
    padding: 40px;
    border-radius: 16px;
}

#card-bg-html {
    background-color: rgba(255, 76, 30, 0.05);
}

#card-bg-css {
    background-color: rgba(0, 76, 232, 0.05);
}

#card-bg-js {
    background-color: rgba(255, 223, 0, 0.05);
}

/* fifth part css */
.fifth-section {
    margin: 0 auto;
    width: 1140px;
}

.fifth-card {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 35px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 20px;
    margin: 10px 0;
}

.fifth-card>div>img {
    height: 100px;
    width: 120px;
}

.last-part {
    margin: 50px auto;
    width: 1140px;
    border-radius: 16px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("../assets/handshake.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.last-card {
    color: rgb(255, 255, 255);
    padding: 60px;
}


.form-input input[type=text] {
    padding: 20px;
    border: 0;
    outline: 0;
    border-radius: 8px;
    font-size: 18px;
    width: 50%;
}

.primary-btn {
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 20px;
    border: 0;
    outline: 0;
    color: rgb(13, 19, 33);
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

/* css for footer  */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 140px;
    background-color:rgba(13, 19, 33, 0.03);
}

.social-icons {
    justify-content: center;
    display: flex;
    gap: 20px;
    font-size: 30px;
}

.fa-twitter, .fa-facebook {
    color: rgb(6, 117, 243);
}

.fa-linkedin {
    color: blue;
}

.fa-github {
    color: black;
}

/* common-css */
.heading-part {
    text-align: center;
    margin: 25px auto;
}

.css-for-p-tag {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
}

.card-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.second-part-card:hover, .card:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}